/*
 * @project Tuneduc
 * @version 1.0
 * @author Thiago Aguiar - Tuneduc
 * @copyright 2015
 ==================== CASCADING STYLE SHEETS ==================== */

/* ==================== font ==================== */
@font-face {
	font-family: "calibri_regular";
	src: url("../font/calibri/regular/calibri.eot");
	src: url("../font/calibri/regular/calibri.eot#iefix") format("embedded-opentype"),
		 url("../font/calibri/regular/calibri.woff") format("woff"),
		 url("../font/calibri/regular/calibri.ttf") format("truetype"),
		 url("../font/calibri/regular/calibri.svg") format("svg"); font-weight: normal; font-style: normal;
}

/* ==================== reset ==================== */
html{color: #000; background: transparent;} html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0} table{border-collapse:collapse;border-spacing:0} fieldset,img{border:0} address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal} ol,ul{list-style:none} caption,th{text-align:left} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal} q:before,q:after{content:''} abbr,acronym{border:0;font-variant:normal} sup{vertical-align:text-top}sub{vertical-align:text-bottom} input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%} legend{color:#000} #yui3-css-stamp.cssreset{display:none}

/* ==================== global ==================== */
* {-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {font-family: 'calibri_regular'; font-size: 1em; list-style-type: none; text-decoration: none; margin: 0; padding: 0;}
body {background: url(../img/bg_header_1920x260.png) center top no-repeat;}

/* ==================== container ==================== */
section.container {background: url(../img/bg_container_1920x870.png) #fbfe29 top center no-repeat; -webkit-border-bottom-right-radius: 35px; -webkit-border-bottom-left-radius: 35px; -moz-border-radius-bottomright: 35px; -moz-border-radius-bottomleft: 35px; border-bottom-right-radius: 35px; border-bottom-left-radius: 35px; width: 96%; max-width: 1200px; height: 660px; margin: 0 auto; padding: 0; position: relative;}
section.container .feature {border: 1px dotted purple; width: 100%; height: auto; margin: 0 auto; position: relative;}
section.container .feature .navigation {background: url(../img/bg_nav_feature_5x5.png) 0 0 repeat; background-size: 1px 1px; width: 50px; height: 65px; margin: -25px 0 0 0; position: absolute; top: 60%; z-index: 10;}
section.container .feature .navigation.prev {left: 10px;} section.container .feature .navigation.prev span {background: url(../img/icon_arrow_left_nav_feature_20x35.png) 15px center no-repeat; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
section.container .feature .navigation.next {right: 10px;} section.container .feature .navigation.next span {background: url(../img/icon_arrow_right_nav_feature_20x35.png) 17px center no-repeat; width: 100%; height: 100%; position: absolute; top: 0; right: 0;}
section.container .feature .product {width: 100%; height: 490px;}
section.container .feature .product#sistema_tls {background: url(../img/product01_1200x450.png) left bottom no-repeat;}
section.container .feature .product .description {border: 1px dotted purple; width: 900px; height: 405px; position: absolute; top: 0; right: 0; z-index: 1;}

/* ==================== responsive ==================== */
@media screen and (min-width: 1200px) {
	section.container .feature .navigation.prev {left: 120px;}
	section.container .feature .navigation.next {right: 120px;}
}