/*
 * @project Tuneduc
 * @version 1.0
 * @author Thiago Aguiar - Tuneduc
 * @copyright 2015
 ==================== CASCADING STYLE SHEETS ==================== */

/* ==================== font ==================== */
@font-face {
	font-family: "calibri_regular";
	src: url("../font/calibri/regular/calibri.eot");
	src: url("../font/calibri/regular/calibri.eot#iefix") format("embedded-opentype"),
		 url("../font/calibri/regular/calibri.woff") format("woff"),
		 url("../font/calibri/regular/calibri.ttf") format("truetype"),
		 url("../font/calibri/regular/calibri.svg") format("svg"); font-weight: normal; font-style: normal;
}
@font-face {
	font-family: "calibri_bold";
	src: url("../font/calibri/bold/calibri-bold.eot");
	src: url("../font/calibri/bold/calibri-bold.eot#iefix") format("embedded-opentype"),
		 url("../font/calibri/bold/calibri-bold.woff") format("woff"),
		 url("../font/calibri/bold/calibri-bold.ttf") format("truetype"),
		 url("../font/calibri/bold/calibri-bold.svg") format("svg"); font-weight: normal; font-style: normal;
}

/* ==================== reset ==================== */
html{color: #000; background: transparent;} html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0} table{border-collapse:collapse;border-spacing:0} fieldset,img{border:0} address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal} ol,ul{list-style:none} caption,th{text-align:left} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal} q:before,q:after{content:''} abbr,acronym{border:0;font-variant:normal} sup{vertical-align:text-top}sub{vertical-align:text-bottom} input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%} legend{color:#000} #yui3-css-stamp.cssreset{display:none}

/* ==================== global ==================== */
* {-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {font-family: 'calibri_regular'; font-size: 1em; list-style-type: none; text-decoration: none; margin: 0; padding: 0;}
body {background: url(../img/bg_header_1920x260.png) center top no-repeat;}

/* ==================== container ==================== */
section.container {background: url(../img/bg_container_1920x870.png) #fbfe29 top center no-repeat; -webkit-border-bottom-right-radius: 35px; -webkit-border-bottom-left-radius: 35px; -moz-border-radius-bottomright: 35px; -moz-border-radius-bottomleft: 35px; border-bottom-right-radius: 35px; border-bottom-left-radius: 35px; width: 100%; max-width: 1200px; height: auto; margin: 0 auto; padding: 0 0 30px 0; position: relative;}

/* ==================== product gallery ==================== */
section.container .feature {width: 100%; height: auto; margin: 0 auto; position: relative; overflow: hidden;}
section.container .feature .navigation {background: url(../img/bg_nav_feature_5x5.png) 0 0 repeat; background-size: 1px 1px; width: 50px; height: 65px; margin: -32px 0 0 0; position: absolute; top: 65%; z-index: 10;}
section.container .feature .navigation:hover {background-color: #FFFFFF;}
section.container .feature .navigation.prev {-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; left: 0;} section.container .feature .navigation.prev span {background: url(../img/icon_arrow_left_nav_feature_20x35.png) 15px center no-repeat; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1;}
section.container .feature .navigation.next {-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; right: 0;} section.container .feature .navigation.next span {background: url(../img/icon_arrow_right_nav_feature_20x35.png) 17px center no-repeat; width: 100%; height: 100%; position: absolute; top: 0; right: 0; z-index: 1;}
section.container .feature .product {width: 100%; height: 500px;}
section.container .feature .product .description {width: 100%; height: 400px; position: absolute; top: 35px; right: 0; z-index: 1;}
section.container .feature .product figure {width: 100%; height: 400px; position: absolute; bottom: 0; left: 0; z-index: 2;}
section.container .feature .product figure img {width: auto; position: absolute; bottom: 0; left: 0;}
section.container .feature .product#occipitocervical figure img {bottom: 0; left: 80px;}
section.container .feature .product#placacervical figure img {bottom: 0; left: 18%;}
section.container .feature .product#anterolateral figure img {bottom: 8px; left: 19%;}
section.container .feature .product#cilindroexpansivo figure img {bottom: 12px; left: 18.5%;}
section.container .feature .product#tls .description {background: url(../img/tls_description_552x340.png) 89% 0 no-repeat;}
section.container .feature .product#occipitocervical .description {background: url(../img/occipitocervical_description_812x342.png) 83% 0 no-repeat;}
section.container .feature .product#placacervical .description {background: url(../img/placacervical_description_692x345.png) 86% 0 no-repeat;}
section.container .feature .product#anterolateral .description {background: url(../img/anterolateral_description_732x340.png) 86% 0 no-repeat;}
section.container .feature .product#cilindroexpansivo .description {background: url(../img/cilindroexpansivo_description_783x344.png) 86% 0 no-repeat;}

/* ==================== thumbnails ==================== */
section.container .thumbnail {text-align: center; width: 100%; max-width: 960px; height: auto; margin: 30px auto 0 auto; position: relative; display: block;}
section.container .thumbnail li {background-color: #A3A3A3; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; text-align: center; width: 18.4%; height: auto; margin: 0 0.48%; padding: 0.3%; position: relative; display: inline-block; vertical-align: top; overflow: hidden;}
section.container .thumbnail li.first {margin-left: 0;} section.container .thumbnail li.last {margin-right: 0;}
section.container .thumbnail li a {width: 100%; height: 100%; margin: 0 auto; position: relative; display: block;}
section.container .thumbnail li div {background: url(../img/bg_tarje_thumbnail_184x45.png) 0 0 no-repeat; background-size: 100%; width: 100%; height: 45px; position: absolute; display: block; top: 0; left: 0; z-index: 2;}
section.container .thumbnail li div p {font-family: 'calibri_bold'; text-transform: uppercase; font-size: 0.97em; line-height: normal; font-weight: lighter; color: #FFFFFF; margin: 5px 0 0 0; position: relative;}
section.container .thumbnail li figure {-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; width: 100%; height: auto; margin: 0 auto 0 auto; position: relative; display: block; overflow: hidden; z-index: 1;}
section.container .thumbnail li figure img {width: 100%; position: relative; display: block;}


/* ==================== responsive ==================== */
@media screen and (max-width: 439px) {
	section.container .feature .product .description {height: 280px;}
}
@media screen and (max-width: 569px) {
	section.container .feature .product#tls .description {background-position: center center; background-size: 100%; max-height: 330px; top: 10px;}
}
@media screen and (max-width: 589px) {
	section.container .feature .navigation {top: 55%;}
	section.container .feature .product {height: 380px;}
}
@media screen and (max-width: 679px) {
	section.container .feature .product#placacervical figure img {width: 60%;}
	section.container .feature .product#anterolateral figure img {width: 60%;}
}
@media screen and (max-width: 719px) {
	section.container .feature .product#placacervical .description {background-position: center center; background-size: 95%; max-height: 330px; top: 10px;}
}
@media screen and (max-width: 759px) {
	section.container .feature .product#anterolateral .description {background-position: center center; background-size: 95%; max-height: 330px; top: 10px;}
}
@media screen and (max-width: 799px) {
	body {background-color: #fbfe29;}
	section.container {background-size: cover;}
	section.container .feature .product#tls figure img, section.container .feature .product#occipitocervical figure img {width: 90%;}
	section.container .feature .product#cilindroexpansivo figure img {width: 50%;}
	section.container .thumbnail {margin: 40px auto 0 auto;}
	section.container .thumbnail li {background-color: transparent; border: 1px solid #A3A3A3; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; text-align: center; width: 18.4%; height: auto; margin: 0 0.48%; padding: 0;}
	section.container .thumbnail li div {display: none;}
}
@media screen and (min-width: 800px) and (max-width: 899px) {
	section.container .thumbnail li div p {font-size: 0.85em;}
}
@media screen and (max-width: 839px) {
	section.container .feature .product#occipitocervical .description {background-position: center center; background-size: 100%; max-height: 330px; top: 10px;}
	section.container .feature .product#cilindroexpansivo .description {background-position: center center; background-size: 95%; max-height: 350px; top: 10px;}
}
@media screen and (max-width: 1029px) {
	section.container .feature .product#placacervical figure img {left: 10px;}
	section.container .feature .product#anterolateral figure img {left: 10px;}
	section.container .feature .product#occipitocervical figure img {left: 10px;}
	section.container .feature .product#cilindroexpansivo figure img {left: 10px;}
}
@media screen and (min-width: 1040px) {
	section.container .feature .navigation.prev {left: 120px;} 
	section.container .feature .navigation.prev:hover {left: 115px;}
	section.container .feature .navigation.next {right: 120px;} 
	section.container .feature .navigation.next:hover {right: 115px;}
}